@model IEnumerable<CinemaManager.Models.Cinema.ProdMovie>

@{
    ViewData["Title"] = "Films et leurs producteurs (ViewModel)";
}

<h1>Films et leurs producteurs</h1>
<p><a asp-action="Index">Retour à la liste des films</a></p>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Genre</th>
            <th>Nom du producteur</th>
            <th>Nationalité du producteur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.mTitle</td>
                <td>@item.mGenre</td>
                <td>@item.pName</td>
                <td>@item.pNat</td>
            </tr>
        }
    </tbody>
</table>
